$color-black-1: #000;
$color-brown-1: #AE8E53;
$color-brown-2: #A1834B;
$color-white-1: #fff;
$color-red-1: #FF0000;
$color-gray-1: #FAFAFA;
$color-grey-1: #7A7A7A;
$color-grey-2: #AAA9A9;
$color-grey-3: #D6D6D6;
